.item {
  height: 15rem;
  width: 13rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.5rem 1fr 2fr 2rem;
  grid-template-areas: 'favorites' 'title ' 'description' 'button';
}
.favorite-icon {
  margin-left: auto;
  color: var(--primary-gray);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  &--active {
    color: var(--accent-orange);
  }
}
.info-icon {
  color: var(--primary-gray);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;

  &--active {
    color: var(--accent-orange);
  }
}
.wrap-favorite-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}
