.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--primary-gray);
  color: var(--text-light);
  margin-bottom: 2rem;
  h1 {
    color: var(--text-light);
  }
  ul {
    display: flex;
    list-style: none;
    column-gap: 2rem;

    li {
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        color: var(--orange-300);

        &:active {
          color: var(--primary-gray);
        }
      }
    }
  }
}
